@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: 'black';
}

.letter-spaced {
  letter-spacing: 0.3rem;
}

@layer components {

  p {
    @apply text-gray-600
  }

  .menu-item {
    @apply px-2;
    cursor: pointer;
  }

  .menu-item:hover {
    @apply border-b-4 border-black;
  }

  .active {
    @apply border-b-4 border-black;
  }
}